.PlayerDetails {
  background: rgba(50, 145, 205, 0.2);
  padding: 1rem;
  border-top: 1px dashed rgba(50, 145, 205, 0.8);

  th {
    border-bottom-color: rgba(0, 0, 0, 0.4);

  }
  th, td {
    padding: 0 1rem;
  }
}

.PlayerDetails-result {
  text-align: right;
  font-variant-numeric: tabular-nums;

  &.is-win {
    font-weight: 700;
    color: #81b64c;
  }

  &.is-loss {
    font-weight: 700;
    color: #ca3431;
  }

  &.is-draw {
    color: #3291cd;
  }

  border-left: 1px solid rgba(0, 0, 0, 0.4);
}